@model TestiranjeZavrsni.App_Data.Pitanje

@{
    ViewBag.Title = "Uređivanje pitanja";
}

<h2>Editpitanje</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Pitanje</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.tekst, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tekst, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tekst, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kategorija, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kategorija, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.kategorija, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.odgovor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.odgovor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.odgovor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Vrati se na pitanja", "Pitanja", "Testiranje")
</div>
